<p>Hi {{ username }},</p>
<p>We processed your CV and here are the information we found</p>
<p>
    Filename: {{filename}}
</p>
<p>
    Size: {{size}}
</p>
<p>
    Mime type: {{mimetype}}
</p>

<p>
    Best regards,
    CV Manager
</p>