<p>Hey {{ username }},</p>
<p>Here are the information of your CV</p>
<p>
    Filename: {{filename}}
</p>
<p>
    Size: {{size}}
</p>
<p>
    Mime type: {{mimetype}}
</p>

<p>If you did not request this email you can safely ignore it.</p>
